*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   }
/*encabezado*/

body{
    background: rgba(238, 205, 238, 0.2) !important;
}

header{
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    font-family: Consolas;
    /*position: fixed;*/
}

header img{
    width: 10%;
    height: auto;
    margin-top: 10%;
    
}
.contenedorSuperior{
    width: 100%;
    display: flex;
}

header img{
 
    width: 70%;
    height: 100px;
}

.wrapper {
    width: 35%;
    margin: auto;
    overflow:hidden;
     
}

header {
    background: #F7F7F1;
    width: 100%;
    position: fixed;
    z-index: 10;
}


nav {
    float: right; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden;
    /* Limpiamos errores de float */
}
nav ul li {
    float: left;
    
    font-size: 18px;
}
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 10px;
    color: #333;
    text-decoration: none;
    
}
nav ul li:hover::selection{color: white;}


.menu li:hover .submenu{
	display: block;
}

.submenu li a:hover{
	background-color: rgba(0, 128, 255, 0.3);
	color: #fff;
	font-weight: bold;
}
.titulo{
	text-align: center;
	background-color: #965b86;
	color: white;
	font-size: 20px;
	padding: 47px;
}


.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: purple;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: rgba(210, 180, 222);

	text-align: center;
	text-decoration: none;
	color: #000;
	border-radius: 15px;
}

.category_list .ct_item-active{
	background: rgba(246, 130, 242, 0.6);
}

/* PRODUCTOS ============*/

.products-list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px pink;

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	border-radius: 15px;
	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: rgba(246, 130, 242, 0.6);

	color: #000;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.list1
	.list2
	.list3{
		flex-direction: row;
		justify-content: space-between;
	}
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}



/* footer */

site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer a{
  color:#737373;
}


.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#D9B4D7;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}
.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.linkedin:hover {
  background-color:#007bb6
}

@media (max-width:767px)
{
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}



